{% extends 'app/base.html' %}
{%load static%}
{%block home%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Mart</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/8a44b0fff1.js" crossorigin="anonymous"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    
    <!-- CSS only -->
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- flowbite -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <!-- main-CSS -->
   
</head>
<body>
        
        <!-- main body -->
        <section class="outer-content">
            <div class="l-content">
                <div class="l-img">
                    <img src="{{product.product_image.url}}" alt="">
                </div>
                <div class="l-img-sml">
                    <img src="{{product.product_image.url}}" alt="">
                    <img src="{{product.product_image.url}}" alt="">
                    <img src="{{product.product_image.url}}" alt="">
                </div>
            </div>
            <div class="r-content">
                <div class="r-main-content">
                    <div class="r-pdt-name">{{product.title}}</div>
                    <div class="r-brand">{{product.brand}}</div>
                    <div class="r-desc">
                        <p>{{product.description}}</p>
                    </div>
                    <div> <strike>{{product.selling_price}}</strike></div>
                    <div class="r-price-content">
                        <div class="r-pdt-name">{{product.discounted_price}}</div>
                        <div class="r-price-btns">
                          {% if user.is_authenticated  %}
                          {% if item_already_in_cart  %}
                           <a href="{% url 'showcart' %}" ><button class="button-main" role="button">Go to cart</button></a>
                          {% else %}
                           <form action="/add-to-cart" class="d-inline">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
                            <button class="button-main" role="button">Add to Cart</button>
                           </form>
                          {% endif %}
                         {% endif %}
                      
                         {% if not request.user.is_authenticated %}
                           <form action="/add-to-cart" class="d-inline">
                            <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
                            <button class="button-main" role="button">Add to Cart</button>
                            
                           </form>
                         {% endif %}
                            <!-- <button class="button-main" role="button">Add to Cart</button> -->
                            

                          
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
</body>
{%endblock home%}
</html>